@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.login-view {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba($background-color, 0.5);

	.login-container {
		padding: $space-14 $space-12;
		background-color: $white-color;
		box-shadow: $box-shadow-1;

		.heading-context {
			margin-top: $space-2;
			@include font-medium
		}

		form {
			width: 400px;
			margin-top: $space-10;
		}

		.toggle-form {
			margin-top: $space-10;
		}

		.toggle-link {
			color: $primary-color;
			text-decoration: underline;
			@include font-medium;
			cursor: pointer;
			transition: opacity,  300ms ease-in-out;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}